.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


target/**
target/
src/**
src/
crosswords/**

nbactions.xml
pom.xml
projects.py
daily_crossword.py
javascript_demos.py


__pycache__/