# VSCODE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


# PYTHON
__pycache__/


target/**
target/
src/**
src/
nbactions.xml
pom.xml


crosswords/**
