astroid==2.9.0
certifi==2021.10.8
click==7.1.2
colorama==0.4.4
Flask==1.1.2
flask-talisman==0.8.1
isort==5.9.3
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
platformdirs==2.4.0
pylint==2.12.2
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.2
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.13.3
