<p>Hey, I'm Ramsey!</p>

<p>
  My main interests are engineering, programming, rock climbing, and puzzle
  design.
</p>

<p>
  Some of my links:
  <a href="https://github.com/rmboyce">github.com/rmboyce</a>
  &middot;
  <a href="https://www.linkedin.com/in/ramseyboyce/"
    >linkedin.com/in/ramseyboyce</a
  >
</p>

<p>Here's a gallery of my recent projects!</p>

<h2>
  <a href="/projects/crossword_generator" title="Crossword Generator"
    >Crossword Generator</a
  >
  (<a href="/daily_crossword" title="Daily computer-generated crossword"
    >Try today's puzzle!</a
  >)
</h2>
<p>A program that generates a new crossword puzzle each day</p>
<p>
  <a href="/projects/crossword_generator" class="linkImage">
    <img
      alt="Crossword"
      src="{{url_for('static', filename='resources/crossword.png')}}"
      width="392"
      height="393"
    />
  </a>
</p>

<h2>
  <a href="/projects/serpent_fusion" title="Serpent Fusion">Serpent Fusion</a>
</h2>
<p>A puzzle game created with the Unity engine and C#</p>
<p>
  <a href="/projects/serpent_fusion" class="linkImage">
    <img
      alt="Serpent Fusion"
      src="{{url_for('static', filename='resources/serpent_fusion.png')}}"
      width="635"
      height="308"
    />
  </a>
</p>

<h2>
  <a href="/projects/arduino_autoclicker" title="Arduino autoclicker"
    >Arduino Autoclicker</a
  >
</h2>
<p>An Arduino shield to augment your mouse</p>
<p>
  <a href="/projects/arduino_autoclicker" class="linkImage">
    <img
      alt="Autoclicker pcb"
      src="{{url_for('static', filename='resources/clickotron_pcb.png')}}"
      width="484"
      height="679"
    />
  </a>
</p>

<h2>
  <a href="/javascript_demos/voronoi_generator" title="Voronoi Generator"
    >Voronoi Generator</a
  >
</h2>
<p>An interactive visualization of Voronoi diagrams</p>
<p>Note: optimized for desktop use</p>
<p>
  <a href="/javascript_demos/voronoi_generator" class="linkImage">
    <img
      alt="Voronoi generator"
      src="{{url_for('static', filename='resources/voronoi_generator.png')}}"
      width="407"
      height="333"
    />
  </a>
</p>

<p>
  I also enjoy rock climbing! See more on my
  <a href="/projects/rock_climbing" title="Outdoor climbing log">
    outdoor climbing log</a
  >!
</p>
