<p class="smallDesc">Note: optimized for desktop use</p>

<h2>
  <a href="/javascript_demos/voronoi_generator" title="Voronoi Generator"
    >Voronoi Generator</a
  >
</h2>
<p>
  <a
    href="/javascript_demos/voronoi_generator"
    class="linkImage"
    style="width: 417px"
  >
    <img
      alt="Voronoi generator"
      src="{{url_for('static', filename='resources/voronoi_generator.png')}}"
      width="407"
      height="333"
    />
  </a>
</p>

<h2>
  <a href="/javascript_demos/fractal_tree" title="Fractal Tree">Fractal Tree</a>
</h2>
<p>
  <a href="/javascript_demos/fractal_tree" class="linkImage" style="width: 453px">
    <img
      alt="Fractal tree"
      src="{{url_for('static', filename='resources/fractal_tree.png')}}"
      width="443"
      height="331"
    />
  </a>
</p>

<h2>
  <a href="/javascript_demos/orbit_simulator" title="Orbit Simulator">Orbit Simulator</a>
</h2>
<p>
  <a href="/javascript_demos/orbit_simulator" class="linkImage" style="width: 345px">
    <img
      alt="Orbit simulator"
      src="{{url_for('static', filename='resources/orbit_sim.png')}}"
      width="335"
      height="335"
    />
  </a>
</p>

<h2>
  <a href="/javascript_demos/particle_life" title="Particle Life">Particle Life</a>
</h2>
<p>
  <a href="/javascript_demos/particle_life" class="linkImage" style="width: 310px">
    <img
      alt="Particle life"
      src="{{url_for('static', filename='resources/particle_life.png')}}"
      width="300"
      height="300"
    />
  </a>
</p>

<h2>
  <a href="/javascript_demos/element_words" title="Element Words">Element Words</a>
</h2>
<p>
  <a href="/javascript_demos/element_words" class="linkImage" style="width: 393px">
    <img
      alt="Element words"
      src="{{url_for('static', filename='resources/element_words.png')}}"
      width="383"
      height="323"
    />
  </a>
</p>

<h2>
  <a href="/javascript_demos/chaos_game" title="Chaos Game">Chaos Game</a>
</h2>
<p>
  <a href="/javascript_demos/chaos_game" class="linkImage" style="width: 374px">
    <img
      alt="Chaos game"
      src="{{url_for('static', filename='resources/chaos_game.png')}}"
      width="364"
      height="333"
    />
  </a>
</p>
