<h2 class="centered">Main Projects</h2>

<h2>
  <a href="/projects/crossword_generator" title="Crossword Generator">
    Crossword Generator
  </a>
</h2>
<p>A program that generates crossword puzzles very fast</p>

<h2>
  <a href="/projects/serpent_fusion" title="Serpent Fusion">
    Serpent Fusion
  </a>
</h2>
<p>A puzzle game created with the Unity engine and C#</p>

<h2>
  <a href="/projects/arduino_autoclicker" title="Arduino autoclicker">
    Arduino Autoclicker
  </a>
</h2>
<p>An Arduino shield to augment your mouse</p>

<h2 class="centered">Smaller Projects</h2>

<h2>
  <a href="/projects/visualizations" title="Visualizations">Visualizations</a>
</h2>
<p>Fun visualizations powered by p5.js</p>

<h2>
  <a href="/projects/this_website" title="This website">This Website</a>
</h2>
<p>A place for my projects using Flask, HTML, and Javascript</p>

<h2>
  <a href="/projects/image_rater" title="Image Rating Neural Network">
    Image Rating Neural Network
  </a>
</h2>
<p>An image rater based on the average person's judgement</p>

<h2>
  <a href="/projects/cube_timer" title="Rubik's Cube timer">
    Rubik's Cube Timer
  </a>
</h2>
<p>A speed tracker for the Rubik's Cube</p>

<h2>
  <a href="/projects/hp_tetris" title="HP Prime Tetris">HP Prime Tetris</a>
</h2>
<p>A tetris clone for the HP Prime graphing calculator</p>

<h2 class="centered">Other</h2>

<h2>
  <a href="/projects/rock_climbing" title="Outdoor Climbing Log">
    Outdoor Climbing Log
  </a>
</h2>
<p>My outdoor rock climbing projects</p>

<h2>
  <a href="/projects/videogame_levels" title="Videogame levels">
    Videogame Levels
  </a>
</h2>
<p>Levels I made for fun using games like Portal 2 and Super Meat Boy</p>
