<p class="smallDesc">Note: optimized for desktop use</p>

<h2 class="centered">
  <a href="/projects/visualizations/voronoi_generator" title="Voronoi Generator"
    >Voronoi Generator</a
  >
</h2>
<p>
  <a href="/projects/visualizations/voronoi_generator" class="linkImage">
    <img
      alt="Voronoi generator"
      src="{{url_for('static', filename='resources/voronoi_generator.png')}}"
      width="407"
      height="333"
    />
  </a>
</p>

<h2 class="centered">
  <a href="/projects/visualizations/fractal_tree" title="Fractal Tree">Fractal Tree</a>
</h2>
<p>
  <a href="/projects/visualizations/fractal_tree" class="linkImage">
    <img
      alt="Fractal tree"
      src="{{url_for('static', filename='resources/fractal_tree.png')}}"
      width="443"
      height="331"
    />
  </a>
</p>

<h2 class="centered">
  <a href="/projects/visualizations/orbit_simulator" title="Orbit Simulator"
    >Orbit Simulator</a
  >
</h2>
<p>
  <a href="/projects/visualizations/orbit_simulator" class="linkImage">
    <img
      alt="Orbit simulator"
      src="{{url_for('static', filename='resources/orbit_sim.png')}}"
      width="335"
      height="335"
    />
  </a>
</p>

<h2 class="centered">
  <a href="/projects/visualizations/particle_life" title="Particle Life"
    >Particle Life</a
  >
</h2>
<p>
  <a href="/projects/visualizations/particle_life" class="linkImage">
    <img
      alt="Particle life"
      src="{{url_for('static', filename='resources/particle_life.png')}}"
      width="300"
      height="300"
    />
  </a>
</p>

<!--
<h2 class="centered">
  <a href="/projects/visualizations/element_words" title="Element Words"
    >Element Words</a
  >
</h2>
<p>
  <a href="/projects/visualizations/element_words" class="linkImage">
    <img
      alt="Element words"
      src="{{url_for('static', filename='resources/element_words.png')}}"
      width="383"
      height="323"
    />
  </a>
</p>
-->

<h2 class="centered">
  <a href="/projects/visualizations/chaos_game" title="Chaos Game">Chaos Game</a>
</h2>
<p>
  <a href="/projects/visualizations/chaos_game" class="linkImage">
    <img
      alt="Chaos game"
      src="{{url_for('static', filename='resources/chaos_game.png')}}"
      width="364"
      height="333"
    />
  </a>
</p>
