<p>
  Starting with a point inside a polygon, the program repeatedly plots a new
  point a fraction of the distance toward a randomly chosen vertex. Over time,
  these points form a fractal pattern.
</p>
<p>
  The "Sierpinski Fraction" is the size ratio of non-overlapping sub-polygons
  packed within the main polygon. Calculated via `CalculateCarpetFraction()`,
  this ratio generates clean fractal designs.
</p>
<p>More information:</p>
<ul>
  <li>
    <a
      href="https://en.wikipedia.org/wiki/Sierpinski_carpet"
      title="Sierpinski carpet Wikipedia"
      rel="nofollow"
      >https://en.wikipedia.org/wiki/Sierpinski_carpet</a
    >
  </li>
  <li>
    <a
      href="http://shiftingmind.com/chaosgame/"
      title="Shifting mind chaos game"
      rel="nofollow"
      >http://shiftingmind.com/chaosgame/</a
    >
  </li>
</ul>
