<p>
  This program starts with a polygon and a point in a random location inside it.
  Then, the program chooses a random vertex from the polygon and makes a copy of
  the point some fraction of the way between the old point and the vertex. The
  process is repeated using the new point. Eventually, the points will make a
  pattern.
</p>
<p>
  The Sierpinski Carpet Fraction is the ratio between the size of a polygon and
  the size of smaller polygons that can be put inside the original against its
  vertices without colliding the other small polygons. The Sierpinski Fraction
  causes the points to make nice patterns usually, and is calculated in the
  method CalculateCarpetFraction() if you want to look more into it.
</p>
<p>More information:</p>
<ul>
  <li>
    <a
      href="https://en.wikipedia.org/wiki/Sierpinski_carpet"
      title="Sierpinski carpet Wikipedia"
      rel="nofollow"
      >https://en.wikipedia.org/wiki/Sierpinski_carpet</a
    >
  </li>
  <li>
    <a
      href="http://shiftingmind.com/chaosgame/"
      title="Shifting mind chaos game"
      rel="nofollow"
      >http://shiftingmind.com/chaosgame/</a
    >
  </li>
</ul>
