<p>
  Simple orbit simulator that ignores interactions between planets. It finds
  where the planets should be and their orbital speeds by
  solving the two-body problem with
  <a
    href="https://en.wikipedia.org/wiki/Kepler%27s_equation"
    title="Kepler's equation Wikipedia"
    rel="nofollow"
    >Kepler's Equation</a
  >. It uses Newton's method to calculate a numerical approximation.
</p>
<p>
  Control the simulator with four clicks: the first two clicks set the orbit, and the last
  two set the planet's radius.
</p>
