<p>
  Simulates forces between particles to create lifelike shapes. Note that the
  forces don't follow the laws of physics.
</p>
<p>Particle interactions:</p>
<ul>
  <li>The red particles are "mellow" and clump together</li>
  <li>
    The green particles repel each other, but are attracted to the blues and
    reds
  </li>
  <li>
    The blue particles are "energetic" and are repelled by reds and greens
  </li>
</ul>
<p>
  Inspired by CodeParade's video:
  <a
    href="https://www.youtube.com/watch?v=Z_zmZ23grXE"
    title="Particle life video"
    rel="nofollow"
    >https://www.youtube.com/watch?v=Z_zmZ23grXE</a
  >
</p>
