<p>
  Generates Voronoi diagrams (diagrams where each point in a colored region is
  closer to the region's "seed point" than any other seed point) and the
  Delaunay triangulation (a triangulation where the circumcircle of each
  triangle contains no other points in the triangulation). Click to place "seed
  points".
</p>
<p>More information:</p>
<ul>
  <li>
    <a
      href="https://en.wikipedia.org/wiki/Voronoi_diagram"
      title="Voronoi diagrams Wikipedia"
      rel="nofollow"
      >https://en.wikipedia.org/wiki/Voronoi_diagram</a
    >
  </li>
  <li>
    <a
      href="https://en.wikipedia.org/wiki/Delaunay_triangulation"
      title="Delaunay triangulation Wikipedia"
      rel="nofollow"
      >https://en.wikipedia.org/wiki/Delaunay_triangulation</a
    >
  </li>
</ul>
