<p>
  Generates Voronoi diagrams (where cells contain all points closest to a given
  seed) and Delaunay triangulations (where no seed points lie within any
  triangle's circumcircle). Click to add seed points.
</p>
<p>More information:</p>
<ul>
  <li>
    <a
      href="https://en.wikipedia.org/wiki/Voronoi_diagram"
      title="Voronoi diagrams Wikipedia"
      rel="nofollow"
      >https://en.wikipedia.org/wiki/Voronoi_diagram</a
    >
  </li>
  <li>
    <a
      href="https://en.wikipedia.org/wiki/Delaunay_triangulation"
      title="Delaunay triangulation Wikipedia"
      rel="nofollow"
      >https://en.wikipedia.org/wiki/Delaunay_triangulation</a
    >
  </li>
</ul>
