/* Overall stuff */
html {
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: #fafeff;
  /*#e8f6ff;*/
}

#container {
  max-width: 700px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  text-align: center;
  margin: 25px 0 0;
}

footer a {
  display: inline-block;
  margin: 8px;
  border: none;
  font-size: 12px;
}

/* Text */
* {
  font-family: "Rubik";
  line-height: 1.5;
  color: #555;
}

h1, h1 a {
  font-family: "Inter";
  font-weight: lighter;
  font-size: 24px;
  margin: 12px 0 10px;
}

h2, h2 a {
  font-family: "Inter";
  font-weight: lighter;
  font-size: 18px;
  margin: 16px 0 12px;
}

.centered {
  text-align: center;
}

p {
  margin: 12px auto;
  font-size: 16px;
  word-wrap: break-word;
}

p.smallDesc {
  text-align: center;
  margin: 15px 0 12px;
  font-size: 14px;
}

p.navBar {
  font-family: "Inter";
  text-align: center;
  padding: 0 0 8px;
  line-height: 2;
}

p.navBar a {
  font-family: "Inter";
  margin: 0 3px;
}

ul {
  margin: 12px 0;
  padding: 0 0 0 30px;
}

a:not(.linkImage) {
  text-decoration: none;
  outline: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
  color: #18a9c9;
  /*#0087bd*/
}

a:focus:not(.linkImage),
a:hover:not(.linkImage) {
  background-size: 100% 1px;
}

/* Image stuff */
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.videoContainer {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  overflow: hidden;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

a.linkImage {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/* Javascript demo stuff */
#p5Container {
  display: flex;
  justify-content: center;
}

/* Text altering */
i,
em {
  font-style: italic;
}

strong,
b {
  font-weight: bolder;
}

small {
  font-size: smaller;
}

/* Forms */
input.login {
  margin-bottom: 5px;
}

button.login {
  background-color: #777777;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px;
}

button.login:hover {
  background-color: #608afe;
  transition: 0.2s;
}

/* Scrollbar stuff */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #eee;
}

/* Make scrollbar pretty. Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
  border: 3px solid #eee;
}
