<p class="gray-desc">A speed tracker for the Rubik's Cube</p>

<h2>Overview</h2>
<p>
  Built with Python and PyQt, this Rubik's Cube timer tracks solve times and
  logs them to a text file with timestamps for progress tracking.
</p>
<p>
  Link to get it:
  <a
    href="https://github.com/rmboyce/cube-timer/releases/"
    title="Rubik's Cube timer releases"
    rel="nofollow"
  >
    https://github.com/rmboyce/cube-timer/releases/</a
  >
</p>
<p>
  Link to see the code:
  <a
    href="https://github.com/rmboyce/cube-timer"
    title="Rubik's Cube timer code"
    rel="nofollow"
  >
    https://github.com/rmboyce/cube-timer</a
  >
</p>

<p>
  <img
    alt="Cube timer"
    src="{{url_for('static', filename='resources/cube_timer.avif')}}"
    width="663"
    height="546"
  />
</p>

<h2>Usage</h2>
<p>
  Press and release the spacebar to start timing (runs on release), and press it
  again to stop. Afterwards, press space to log the time, clear it, or mark it
  as DNF.
</p>
<p>
  The stats page shows session statistics, and the PLL tab lists algorithms for
  permuting the last layer of the Rubik's Cube.
</p>
