<p class="smallDesc">A speed tracker for the Rubik's Cube</p>

<h2>Overview</h2>
<p>
  This is a Rubik's Cube timer that I made with Python and PyQt to track how
  fast the user can solve a cube. The program also saves every past logged time
  in a text file with timestamps, so you can see your improvement in the long
  run.
</p>
<p>
  Link to get it:
  <a
    href="https://github.com/rmboyce/cube-timer/releases/"
    title="Rubik's Cube timer releases"
    rel="nofollow"
  >
    https://github.com/rmboyce/cube-timer/releases/</a
  >
</p>
<p>
  Link to see the code:
  <a
    href="https://github.com/rmboyce/cube-timer"
    title="Rubik's Cube timer code"
    rel="nofollow"
  >
    https://github.com/rmboyce/cube-timer</a
  >
</p>

<p>
  <img
    alt="Cube timer"
    src="{{url_for('static', filename='resources/cube_timer.png')}}"
    width="663"
    height="546"
  />
</p>

<h2>Usage</h2>
<p>
  To operate the timer, press and release the spacebar to start (time starts on
  release) and press the spacebar again to stop. Then you can decide whether to
  log the time (by pressing space), clear the time, or mark it as a DNF (did not
  finish: stopped the timer before the cube was completely solved).
</p>
<p>
  The stats page shows statistics on the previous times in the session (from
  when the program is opened). The PLL tab shows some algorithms to permute the
  last layer of the Rubik's cube.
</p>
