<p class="gray-desc">A Tetris clone for the HP Prime graphing calculator</p>

<h2>Overview</h2>
<p>
  A Tetris clone for the HP Prime graphing calculator, written in HP BASIC.
  Built by improving Kevin Barbier's "BRICKS" game.
</p>

<p>
  <img
    alt="HP Tetris game"
    src="{{url_for('static', filename='resources/hp_tetris.avif')}}"
    width="198"
    height="388"
  />
</p>

<h2>Getting the Game</h2>
<p>
  To install, connect the calculator to your computer using the HP Prime
  Connectivity Kit (<a
    href="http://www.hp-prime.de/en/category/15-software"
    title="HP Prime Connectivity Kit"
    rel="nofollow"
    >http://www.hp-prime.de/en/category/15-software</a
  >). Create a program named "BLOCKS" on the device and paste the code. Access
  it via the calculator's Program menu (Shift + 1).
</p>
<p>
  Get the code here:
  <a
    href="https://github.com/rmboyce/hp-tetris"
    title="HP Prime Tetris code"
    rel="nofollow"
  >
    https://github.com/rmboyce/hp-tetris
  </a>
</p>

<h2>Controls</h2>
<ul>
  <li>"Vars" and the toolbox key to move left/right</li>
  <li>"SIN" to drop the current piece</li>
  <li>"Enter" to hard drop the piece</li>
  <li>The delete key to rotate the piece</li>
  <li>"x<sup>y</sup>" (power key) to hold a piece (once per turn)</li>
  <li>"Apps" to pause</li>
  <li>"Esc" to quit</li>
  <li>"Help" for help</li>
  <li>"View" to choose custom keys</li>
  <li>"Menu" to set keys to default</li>
  <li>"CAS" to reset the game</li>
</ul>

<h2>Changelog</h2>
<ul>
  <li>Added a grid in the back</li>
  <li>
    Changed the colors of the pieces to match the standard Tetris color scheme
  </li>
  <li>
    Changed the way the program picks the next piece to make it feel more random
    (for example, made the chance of getting the same piece twice in a row much
    lower)
  </li>
  <li>
    Added the Tetris Super Rotation System (SRS, which makes the pieces rotate
    intuitively)
  </li>
  <li>Added the hold function to store a piece</li>
</ul>
