<p class="smallDesc">My outdoor rock climbing projects</p>

<h2>Triple Crown, V6</h2>
<p>Lake Tahoe, CA; Rainbow Boulders area</p>
<p>
  This is my first outdoor V6! The rock is great quality. If you are tall, try
  the left heel hook; it's incredible when you set it right.
</p>
<div class="videoContainer">
  <iframe
    width="640"
    height="360"
    src="https://www.youtube.com/embed/utpF7Am3ZTg"
    title="Triple Crown rock climb"
  ></iframe>
</div>

<h2>Ketron Classic, V4</h2>
<p>Bishop, CA; Happy Boulders area</p>
<p>
  A classic, and my first outdoor V4! The leap for the final hold feels epic to
  stick.
</p>
<div class="videoContainer">
  <iframe
    width="640"
    height="360"
    src="https://www.youtube.com/embed/5OAm6z_8Pdw"
    title="Ketron Classic rock climb"
  ></iframe>
</div>

<h2>Serengeti, V5</h2>
<p>Bishop, CA; Happy Boulders area</p>
<p>
  My first V5 outside. There are a lot of ways to do the bottom section, it took
  a while to figure out the easiest approach for me.
</p>
<div class="videoContainer">
  <iframe
    width="640"
    height="360"
    src="https://www.youtube.com/embed/fzJA3p7K6dU"
    title="Serengeti rock climb"
  ></iframe>
</div>

<p>
  This page is in progess. I'm planning to add the other climbs I've done and my
  future projects (climbs I'm planning to do).
</p>
