<p class="smallDesc">A puzzle game created with the Unity engine and C#</p>

<h2>Overview</h2>
<p>
  I programmed the entirety of my puzzle game Serpent Fusion on my own over
  about two years, and I regularly release updates. It is a challenging
  sokoban-style game based on Snake.
</p>
<p>
  If you are interested, the game is here:
  <a
    href="https://store.steampowered.com/app/1126260/Serpent_Fusion/"
    title="Serpent Fusion"
    rel="nofollow"
  >
    Serpent Fusion</a
  >
</p>
<p>
  Note: This is an extremely challenging puzzle game. (Don't say I didn't warn
  you!)
</p>

<p>
  <img
    alt="Serpent Fusion"
    src="{{url_for('static', filename='resources/serpent_fusion.png')}}"
    width="635"
    height="308"
  />
</p>

<h2>About Creation</h2>
<p>
  Nearly all of the code is in C#, although I did tweak some ShaderLab
  programming to use for visual effects. Rather than program a level editor from
  scratch, which would take a long time, I decided to make levels in a
  spreadsheet. This quicker approach proved to help prototype levels faster and
  determine what would work sooner, aka "fail faster". I made a program that
  would take my level designs in the spreadsheet and convert them into JSON
  strings that I could plug into my game to generate levels.
</p>
<p>
  The game was a learning project&mdash;I wanted to apply the programming I had
  learned to a larger task. Before this project, I had never programmed in C#
  (although I did have experience in Java), so I was able to pick up a new
  language. I also had a lot of fun making levels for other games, so I wanted
  to design my own puzzle game from scratch.
</p>
<p>
  In recent updates I have been refactoring the code as I learn more, to make it
  easier to understand and work on.
</p>
