<p class="gray-desc">A puzzle game created with the Unity engine and C#</p>

<h2>Overview</h2>
<p>
  I developed Serpent Fusion over two years. It is a challenging Sokoban-style
  puzzle game based on Snake.
</p>
<p>
  If you are interested, the game is here:
  <a
    href="https://store.steampowered.com/app/1126260/Serpent_Fusion/"
    title="Serpent Fusion"
    rel="nofollow"
  >
    Serpent Fusion</a
  >
</p>
<p>
  Note: This is an extremely challenging puzzle game. (Don't say I didn't warn
  you!)
</p>

<p>
  <img
    alt="Serpent Fusion"
    src="{{url_for('static', filename='resources/serpent_fusion.avif')}}"
    width="635"
    height="308"
  />
</p>

<h2>About Creation</h2>
<p>
  Built in Unity/C# with custom shaders. To prototype quickly and "fail faster,"
  I designed levels in spreadsheets and wrote a converter script to export them
  to JSON rather than building a dedicated level editor.
</p>
<p>
  This project served as a learning experience to build a larger game, and was
  my first time programming in C# (drawing on my Java background).
</p>
