<p class="smallDesc">
  A place for my projects using Flask, HTML, and Javascript
</p>

<h2>Overview</h2>
<p>
  This website is a place for me to put my projects when I complete them. I
  thought that making a website would be fun, and as a bonus I could share the
  stuff I've made.
</p>

<h2>Technical Details</h2>
<p>
  I use Flask as a backend framework along with HTML and CSS to make the web
  pages. I don't use any frontend framework, because I haven't found one that I
  like yet. My p5.js visualizations are made with Javascript.
</p>
<p>My website is hosted on Google Cloud's App Engine.</p>

<p>
  <img
    alt="Website code"
    src="{{url_for('static', filename='resources/website_code.png')}}"
    width="663"
    height="300"
  />
</p>
