<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <meta name="description" content="Ramsey Boyce's Website" />
    <!--
    <link rel="canonical" href="https://ramseyboyce.com/index.html">
    -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik"
    >
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter"
    >
    <!--
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk"
    >
    -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    >
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='resources/favicon_16x16.png') }}"
      sizes="16x16"
    >
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='resources/favicon_32x32.png') }}"
      sizes="32x32"
    >

    {% block head %}{% endblock %}
  </head>
  <body>
    {% if squeeze or squeeze is not defined %}
    <div id="container">
      {% endif %}
      <header>
        <div class="flexbar inter">
          <a href="/projects" title="My projects">personal projects</a>
          &middot;
          <a href="/daily_crossword" title="Daily computer-generated crossword"
            >daily crossword</a
          >
          &middot;
          <a href="/" title="About me">about</a>
        </div>
      </header>

      <h1 class="centered">{{ title }}</h1>

      {% block content %}{% endblock %}

      <footer>
        <hr>
        <div class="flexbar">
          <a href="https://www.linkedin.com/in/ramseyboyce/" class="unstyled"
            ><i data-lucide="linkedin" class="icon-size"></i></a>
          &middot;
          <a href="https://github.com/rmboyce" class="unstyled"
            ><i data-lucide="github" class="icon-size"></i></a>
          &middot;
          <a href="https://twitter.com/RamseyBoyce" class="unstyled"
            ><i data-lucide="twitter" class="icon-size"></i></a>
        </div>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
          lucide.createIcons();
        </script>
        <p class="gray-desc">By Ramsey Boyce</p>
      </footer>
      {% if squeeze or squeeze is not defined %}
    </div>
    {% endif %}
  </body>
</html>
