<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <meta name="description" content="Ramsey Boyce's Website" />
    <!--
    <link rel="canonical" href="https://ramseyboyce.com/index.html">
    -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter"
    />
    <!--
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk"
    >
    -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='resources/favicon_16x16.png') }}"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='resources/favicon_32x32.png') }}"
      sizes="32x32"
    />

    {% block head %}{% endblock %}
  </head>
  <body>
    {% if squeeze or squeeze is not defined %}
    <div id="container">
      {% endif %}
      <header>
        <div class="flexbar inter">
          <a href="/" title="About me">about</a>
          &middot;
          <a href="/projects" title="My projects">personal projects</a>
          &middot;
          <a href="/daily_crossword" title="Daily computer-generated crossword"
            >daily crossword</a
          >
          &middot;
          <a href="/misc" title="Misc">misc</a>
        </div>
      </header>

      <h1 class="centered">{{ title }}</h1>

      {% block content %}{% endblock %}

      <footer>
        <hr />
        <div class="flexbar">
          <a href="https://www.linkedin.com/in/ramseyboyce/" class="unstyled"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin-icon lucide-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg></a>
          &middot;
          <a href="https://github.com/rmboyce" class="unstyled"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github-icon lucide-github"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/><path d="M9 18c-4.51 2-5-2-7-2"/></svg></a>
          <!--
          &middot;
          <a href="https://twitter.com/RamseyBoyce" class="unstyled"
            ><i data-lucide="twitter" class="icon-size"></i
          ></a>
          -->
        </div>
        <!-- <script src="https://unpkg.com/lucide@latest"></script>
        <script>
          lucide.createIcons();
        </script> -->
        <p class="gray-desc">By Ramsey Boyce</p>
      </footer>
      {% if squeeze or squeeze is not defined %}
    </div>
    {% endif %}
  </body>
</html>
