{% extends "base.html" %}

{% block content %}
<div class="box">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
  {% endif %}
  {% endwith %}
  <form method="POST" action="{{url_for('my_pages.login_post')}}">
    <div>
      <input
        class="login"
        type="password"
        name="password"
        autocomplete="current-password"
        id="current-password"
        placeholder="Your password"
      >
    </div>
    <div>
      <label>
        <input type="checkbox" name="remember">
        Remember me
      </label>
    </div>
    <div>
      <button class="login">Login</button>
    </div>
  </form>
</div>
{% endblock %}