<p>
  Simple orbit simulator that ignores interactions between planets. It finds
  where the planets should be and what speeds they should be moving at by
  solving the two-body problem with the
  <a
    href="https://en.wikipedia.org/wiki/Kepler%27s_equation"
    title="Kepler equation Wikipedia"
    rel="nofollow"
    >Kepler Equation</a
  >. Uses Newton's Method to calculate a numerical approximation.
</p>
<p>
  Control by using four clicks: The first two clicks set the orbit, and the last
  two set the planet radius.
</p>
