<p class="gray-desc">Outdoor rock climbing projects</p>

<h2>Triple Crown, V6</h2>
<p>Lake Tahoe, CA; Rainbow Boulders area</p>
<p>
  My first outdoor V6! The rock is great quality. If you are tall, the left heel
  hook is incredible when set right.
</p>
<div class="video-container">
  <iframe
    width="640"
    height="360"
    src="https://www.youtube.com/embed/utpF7Am3ZTg"
    title="Triple Crown rock climb"
  ></iframe>
</div>

<h2>Ketron Classic, V4</h2>
<p>Bishop, CA; Happy Boulders area</p>
<p>
  A classic and my first outdoor V4! Sticking the leap for the final hold feels
  epic.
</p>
<div class="video-container">
  <iframe
    width="640"
    height="360"
    src="https://www.youtube.com/embed/5OAm6z_8Pdw"
    title="Ketron Classic rock climb"
  ></iframe>
</div>

<h2>Serengeti, V5</h2>
<p>Bishop, CA; Happy Boulders area</p>
<p>
  My first outdoor V5! Finding the easiest beta for the bottom section took some
  time.
</p>
<div class="video-container">
  <iframe
    width="640"
    height="360"
    src="https://www.youtube.com/embed/fzJA3p7K6dU"
    title="Serengeti rock climb"
  ></iframe>
</div>

<p>In progress: will add future projects!</p>
