<p class="gray-desc">
  Levels I made for fun using games like Portal 2 and Super Meat Boy
</p>

<h2>Portal 2</h2>
<p>
  I designed several Portal 2 levels using Valve's editor and BEEmod (<a
    href="https://github.com/BEEmod/BEE2.4/releases"
    title="BEE2"
    rel="nofollow"
    >BEEmod Releases</a
  >). Built when I was 13–14, these early levels are available on my
  <a
    href="https://steamcommunity.com/profiles/76561198166141294/myworkshopfiles"
    title="Portal 2 levels"
    rel="nofollow"
    >Steam Workshop</a
  >.
</p>

<p>
  <img
    alt="Portal 2 level"
    src="{{url_for('static', filename='resources/portal_2.avif')}}"
    width="640"
    height="360"
  />
</p>

<h2>Super Meat Boy</h2>
<p>
  I also created difficult, experimental Super Meat Boy levels around the same
  time. Because Super Meat World had shut down, they were never published. I may
  host them here in the future.
</p>
